extends ./layout/base.jade

block append content
    .row.center(style='margin-top: 50px;')
        .col-2
        .col-8
            a(href='/')
                img(alt='GIGtoday', src='/assets/image/logo/128x128_transparent.png')
            - if (locals.events.results) {
                h1 Gigs in #{location.name} tonight
                p Here’s the best live music to be found in #{location.name} this evening
                div.events(style='margin-top: 50px;')
                    each event in locals.events.results
                        include ./partial/event/list_item.jade
            - } else {
                div.events(style='margin-top: 50px;')
                    h1 ¯\_(ツ)_/¯
                    p.info ... sry no events in #{location.name} tonight
            - }
        .col-2
